/* ---------------- ANKI ---------------- */

.card {
    font-family: meiryo;
    text-align: center;
    color: black;
    padding: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nightMode.card {
    color: white;
}

.night_mode.card {
    color: white;
}

/* ---------------- LAYOUT ---------------- */
.card-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* ---------------- ELEMENTS ---------------- */

hr {
    user-select: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    user-select: none;
    margin: 0;
}

h5, h4, h3, h2, h1, p {
    margin: 0;
    padding: 0;
    line-height: .8;
}

/* ----------------  KEYWORD ---------------- */

.keyword {
    user-select: auto;
    font-weight: 700;
    margin-bottom: 5px;
}

/* ----------------  KANJI ---------------- */

.kanji {
    user-select: auto;
    font-weight: 500;
    font-family: yu mincho;
    margin-bottom: 10px;
}

#back .kanji {
    font-size: 56px;
}

/* ----------------  KEYWORD SOURCE ---------------- */

.source {
    font-weight: 700;
    color: #838383;
    user-select: none;
    margin-bottom: 5px;
}

/* ---------------- DICTIONARY LINKS ---------------- */

.dictionary-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dictionary-links img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    user-select: none;
}

/* ---------------- MNEMONIC ---------------- */

.mnemonic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* ---------------- KANJI COMPONENTS ---------------- */

.components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.components ul {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: auto;
    grid-auto-flow: column dense;
    gap: 15px;
    list-style: none;

    margin: 0;
    padding: 0;
}

.components li {
    user-select: auto;
    font-family: yu mincho;
    margin: 0;
    padding: 0;
    line-height: .9;
}

/* ----------------  KANJI STROKES ---------------- */

.strokes-box {
    width: 150px;
    height: 150px;
    border: 1px solid #000000; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    padding: none;
    user-select: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.strokes-box #strokes {
    transform: scale(1.2);
}

.nightMode.card .strokes-box, .night_mode.card .strokes-box {
    background-color: #404040;
    border: 1px solid #000000; 
    box-shadow: 0px 4px 6px rgba(15, 15, 15, 0.2);
}

/* ----------------  DRAWING CANVAS ---------------- */

.canvas-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

canvas {
    width: 300px;
    height: 300px;
    border: 1px solid #000000; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: block;

    margin: 0;
    padding: 0;
}

.nightMode.card canvas, .night_mode.card canvas {
    background-color: #404040;
    border: 1px solid #000000; 
    box-shadow: 0px 4px 6px rgba(15, 15, 15, 0.2);
}

.card #back canvas {
    width: 150px;
    height: 150px
}

.canvas-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}
