.card {
    text-align: center;
    color: black ;
    user-select: none;
    height: 100%;
    width: 100%;
    padding: none;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    justify-content: space-evenly;
}

.nightMode.card {
    color: white !important;
}

.card br {
    user-select: none;
}

.card hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card button {
    user-select: none;
    margin: none;
}

/* Keyword and Kanji */
.card .keyword {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.card .kanji {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card .back-side .kanji {
    font-size: 56px;
}

/* Keyword Source */
.card .source {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    color: #838383;

    &:hover {
        text-decoration: underline;
    }
}

.nightMode.card.source, .night_mode.card.source {
    color: #656565 !important;
}

/* Kanji Strokes */
.card .strokes-box {
    width: 150px;
    height: 150px;
    border: 1px solid #000000; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
    padding: none;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nightMode.card .strokes-box, .night_mode.card .strokes-box {
    background-color: #404040;
    border: 1px solid #000000; 
    box-shadow: 0px 4px 6px rgba(15, 15, 15, 0.2);
}

.card .canvas-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Drawing Canvas */
.card canvas {
    width: 300px;
    height: 300px;
    border: 1px solid #000000; 
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 20px;
    padding: none;
    
}

.nightMode.card canvas, .night_mode.card canvas {
    background-color: #404040;
    border: 1px solid #000000; 
    box-shadow: 0px 4px 6px rgba(15, 15, 15, 0.2);
}

.card .back-side canvas {
    width: 150px;
    height: 150px
}